<?php
/** @var Blog\Entity\Post[] $posts */
?>
<section class="nav">
    <a href="<?= $this->url('blog/add') ?>" title="<?= $this->translate('Add new blog post') ?>">
        <?= $this->translate('Add new blog post') ?>
    </a>
</section>
<section>
    <?php foreach ($posts as $post) : ?>
        <article class="blogPost">
            <header>
                <h2>
                    <a href="<?= $this->url('blog/view', [
                        'id'   => $this->escapeHtml($post->getId()),
                        'slug' => $this->escapeHtml($post->getSlug())
                    ]) ?>"
                       title="<?= $this->escapeHtml($post->getTitle()) ?>">
                        <?= $this->escapeHtml($post->getTitle()) ?>
                    </a>
                </h2>
                <h3>
                    <?= $this->translate('Created') ?>: <?= $post->getCreated()->format('d-m-Y') ?>
                </h3>
            </header>
            <div class="blogBody">
                <?= $this->escapeHtml($post->getBody()) ?>
            </div>
        </article>
    <?php endforeach ?>
</section>