<?php
/** @var Blog\Entity\Post $post */
?>
<section>
    <article class="blogPost">
        <header>
            <h2>
                <?= $this->escapeHtml($post->getTitle()) ?>
            </h2>
            <h3>
                <?= $this->translate('Created') ?>: <?= $post->getCreated()->format('d-m-Y') ?>
            </h3>
        </header>

        <div class="blogOptions">
            <a href="<?= $this->url('blog/view/edit', [
                'id'   => $this->escapeHtml($post->getId()),
                'slug' => $this->escapeHtml($post->getSlug())
            ]) ?>"
               title="<?= $this->translate('Edit') ?> - <?= $this->escapeHtml($post->getTitle()) ?>">
                <?= $this->translate('Edit') ?>
            </a>
            <a href="<?= $this->url('blog/view/delete', [
                'id'   => $this->escapeHtml($post->getId()),
                'slug' => $this->escapeHtml($post->getSlug())
            ]) ?>"
               title="<?= $this->translate('Delete') ?> - <?= $this->escapeHtml($post->getTitle()) ?>">
                <?= $this->translate('Delete') ?>
            </a>
        </div>

        <div class="blogBody">
            <?= $this->escapeHtml($post->getBody()) ?>
        </div>
    </article>
</section>